div {
    display: flex;
    margin: 50px 350px;
    background-color: rgba(178, 106, 245, 0.979);
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

li:hover {
    background-color: blue;
}