table {
    background-color: yellow;
    border-top: 1px dotted;
    border-left: 1px dotted;
    border-right: 1px dotted;
    border-bottom: 2px dashed red;
    border-collapse: collapse;
    border-spacing: 0cm;
    margin: 50px 270px;
   }

thead {
    color: red;
    text-align: center;
    }

.datos {
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
}

b {
    font-size: 22px;
}

th {
    font-style: oblique;
}







