table {
    background-color: yellow;
    border-top: 1px dotted;
    border-left: 1px dotted;
    border-right: 1px dotted;
    border-bottom: 2px dashed red;
    border-collapse: collapse;
    border-spacing: 0cm;
    margin: 30px 200px;
   }

thead {
    color: red;
    text-align: center;
    font-family: 'match bold';
    }

.parrafo {
    border-top: 1px dotted;
    font-size: large;
}

.datos {
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
}







